.services {
  padding: 30px;
}
.references {
  padding: 30px;
  height: 80vh;
}
.references .reflist {
  overflow: auto;
  height: 85%;
}
.service-title {
  width: 85%;
  margin-bottom: -15px;
  background: #006375;
  border-radius: 5px;
  z-index: 999;
}
.service-title span {
  font-size: 1.4rem;
  font-weight: 500;
}
.service-content {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.services-list li {
  list-style-type: none;
}

.refHeading .refTitle {
  font-size: 2rem;
}
.socialIcons {
  color: #ababab;
  font-size: 1.5rem;
}
.socialIcons:hover {
  color: #006375;
}
/* table start*/
table {
  margin: 0px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 1em;
  text-align: left;
  font-weight: bold;
}

table th {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  background: #006375;
}
.getText {
  font-size: 2rem;
  color: gray;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
  .getText {
    font-size: 1.5rem;
    color: gray;
  }
}
/* table end*/
